:root {
  --main-color: #36c6f1;
  --white: #fffbfb;
  --grey: #f0eef1;
  --black: #3d3d3d;
  --red: #fa5656;
  --light-green: #84f580;
  --light-red: #f57c7c;

  --shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
}

/*========
  GLOBAL
========*/

html {
  box-sizing: border-box;
  /* TODO: hight: tutta la pagina */
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--grey);
}

button {
  border: none;
  border-radius: 10px;
  padding: 0.6rem 1rem;
  cursor: pointer;
}

button:hover {
  opacity: 75%;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding: 0.5rem;
}

.add-books button,
#submit {
  background-color: var(--main-color);
}

.read {
  background-color: var(--light-green);
}

.not-read {
  background-color: var(--red);
}

/*============
  TYPOGRAPHY
============*/

body {
  font-family: "Signika Negative", sans-serif;
  word-wrap: break-word;
}

button,
input,
select {
  font-family: inherit;
}

label {
  font-size: 1.3rem;
}

button,
input,
select {
  font-size: 1rem;
}

.add-books button {
  font-size: 1.5rem;
  font-weight: bold;
}

.card .name {
  font-size: 1.4rem;
  font-weight: bold;
}

.card .author {
  font-size: 1.2rem;
  font-weight: 500;
}

.card .pages {
  font-size: 1.1rem;
  font-weight: 400;
}

.card button {
  font-size: 1.2rem;
  font-weight: bold;
}

.remove {
  color: var(--white);
}

/*==========
  SPECIFIC
==========*/
/*-- Header --*/
header {
  background-color: var(--white);
  box-shadow: var(--shadow);
}

header h1 {
  text-align: center;
  padding-block: 0.7rem;
}

/*-- Button add-books --*/
.add-books {
  display: flex;
  justify-content: center;
  margin-top: 1.4rem;
  margin-bottom: 2.4rem;
}

.add-books button {
  padding: 0.6rem 1.4rem;
}

/*-- Section | books-cards --*/
.books-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  background-color: var(--white);
  box-shadow: var(--shadow);
  border-radius: 10px;
  padding: 0.8rem 1rem;
}

.card button {
  margin-top: 0.4rem;
}

.remove {
  background-color: var(--black);
}

/*-- Modal --*/
.modal {
  background-color: var(--grey);
}

.input-fields {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.6rem;
  max-width: 320px;
}

.input {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.4rem;
}

input,
select {
  padding: 0.2rem 0.5rem;
  border: 1px solid black;
  border-radius: 10px;
}

#submit {
  padding: 0.7rem 4rem;
}

/*FIXME: rimuovi il none qui*/
.active {
  /* display: none; */
  /*FIXME: LEVA sta schifezza dopo*/
  display: flex;
  justify-content: center;
}

/*==============
  MEDIA QUERIES
==============*/
/*FIXME: aumenta un po il font size dell'h1*/
/* .container {
  padding: 1rem
} */
