:root {
  --main-color: #ddd;
}

/*========
  GLOBAL
========*/

html {
  box-sizing: border-box;
  /* TODO: hight: tutta la pagina */
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*============
  TYPOGRAPHY
============*/

body {
  font-family: "Ubuntu", sans-serif;
}

/*==========
  SPECIFIC
==========*/

/*==============
  MEDIA QUERIES
==============*/
